<div class="container">
  <div class="user-details">
    </br>
    <p> C++ lover, I learn every day !</br>
  I have a software developer education, but I learned C++ mostly thanks to StackOverflow and CppCon amazing guys :) Trying to improve my core language knowledge, I'm currently working on modern Metaprogramming and C++17/TS with a ECS library on Github.
    </p>
    </br></br>
    <h3> My Expertise </h3>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Project Management</h4>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-slack-plain"></i>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-travis-plain colored"></i>
      <p>For team management, Github and Slack are my favorite tools, but I'll probably replace Slack with Riot(Matrix).</p>
    </div>
    <div class="four columns">
      <h4>Programming Language</h4>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>Even if I did learn others languages, I'm specilized in C++.
      <ul class="CppList">
        <li>Core language with C++11/14/17 and even some TS like C++ concepts</li>
        <li>Modern Metaprogramming with Boost Hana</li>
        <li>Graphics with OpenGL (I'd like to learn Vulkan)</li>
        <li>Design and Architecture: I'm working on a ECS library on Github. Making an easy to understand architecture but with no overhead and good performances.</li>
      </ul>
    </div>
    <div class="four columns">
      <h4>Developpement Tools</h4>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>I work on Linux ecosystem. Using NeoVim as IDE and some usefull tools like Git and Docker when I need to. I prefer to rely on simple but efficient tools that I can customize to my needs.</p>
    </div>
  </div>
</div>
