<div class="container">
  </br></br>
  <div class="user-details">
    <h3> Experiences </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/paris.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> The Architect : Paris [Enodo Games]</h5>
        <li> C++/CryEngine and now C#/Unity DOTS</li>
        <li> Video Game development</li>
      <p>
        Development of the video game The Architect : Paris, I had to learn really quickly my first game engine (and CryEngine wasn't a good idea).
         I worked on all game aspects, from generating mesh and physic procedurally, to integrating UI and developed some level design tools.
        And two years after I'm still there, but working with Unity ECS, and leading the team.
      </p>
      <div class="DateExp"> 01/2018--Now </div>
    </div>
  </div>

    <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/holusion.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Holusion </h5>
        <li> C++/OpenGl/Ffmpeg</li>
      <p>
      <ul>
        <li>Holographic Sales Table, using C++ and OpenGL 3.3. I was working on the software at the same time that my tutor was working on the hardware. You can check the product by clicking on the link below (text in french).</li>
        <li>Holographic Video Player, using Ffmepg/SDL and C++.</li>
      </ul>
      </p>
      <div class="DateExp"> 08/2015--12/2015 </div>
      <a class="project-link" href="https://www.youtube.com/watch?v=y9yu7lesIk4">Holographic Sales Table</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/skf.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> SKF Aeroengine</h5>
        <li> VBA/C#/C++</li>
        <li> Project Management</li>
      <p>
       I worked on a project manager, which had to adapt to some very complex process from SKF.
       I made a prototype in VBA which was used by several SKF factories.
       And I started to work on the architecture of the final product (C# MVC client and C++ Server).
       </br></br>
       I had to fully manage every aspect of the project (clients, boss...). It's my best professional experience at the moment.
      </p>
      <div class="DateExp"> 09/2013--09/2014 </div>
    </div>
  </div>

</div>
