<div class="container">
  </br></br>
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/ecs.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> ECS-Concept </h5>
        <li> C++17/TS</li>
        <li> Modern Metaprogramming with Boost Hana</li>
      <p>This is a Entity Component System library that I started recently. Using Metaprogramming and Policiy Design, ECS-Concept aim to be an easy to customize with no overhead.</p>
      <a class="project-link" href="https://github.com/Celes-Eternal/ECS-Concept">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/school.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> School Projects </h5>
        <li> C/C++/ASM/Haskell/OCAML/Python/Java/C#</li>
        <li> Team Management </li>
        </br>
        <p> Some of the biggest projects I made during school : </p>
       <ul>
         <li>Recode of some libc function (string.h, malloc...)</li>
         <li>Some games, from a Wolf3D (XLib/Ray Casting) to a Bomberman(SFML/OpenGl)</li>
         <li>A small shell based on zsh (Parser/Lexer/AST/ByteCode...)</li>
         <li>A geolocalisation mobile software and a small mobile game using Xamarin and MonoGame</li>
      
    </div>
  </div>

</div>
